Repository anatoli-tsinovoy/siegert-scatter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lock, ruff-check, ruff-format, typecheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-lock
        name: Check Lock
        entry: uv lock --check
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|uv\.lock)$

      - id: ruff-check
        name: Ruff Check
        entry: uvx ruff check --no-fix src
        language: system
        types: [python]
        pass_filenames: false

      - id: ruff-format
        name: Ruff Format
        entry: uvx ruff format --check src
        language: system
        types: [python]
        pass_filenames: false

      - id: typecheck
        name: Type Check
        entry: uvx ty check src
        language: system
        types: [python]
        pass_filenames: false

Added lint/format/typecheck GHA
  .github/workflows/lint_format_typecheck.yaml
Due: none

original MATLAB code
  src/matlab/SPS_script.m
  src/matlab/TISE_by_SPS.m
  src/matlab/calc_cross_section_by_SPS.m
  src/matlab/calc_z_l.m
  src/matlab/get_gaussian_quadrature.m
  src/matlab/j_polynomial.m
Due: none

Fixed(?) Gamma_12 calculation, print and dump results
  src/matlab/SPS_script.m
Due: none

added some tests for the MATLAB code
  src/matlab/SPS_test_quick.m
  src/matlab/SPS_test_suite.m
  src/matlab/test_reference_output.txt
Due: none

octave code now runs
  src/matlab/TISE_by_SPS.m
  src/matlab/calc_z_l.m
  src/matlab/medfilt1.m
Due: none

First python version
  pyproject.toml
  src/siegert_scatter/__init__.py
  src/siegert_scatter/__main__.py
  src/siegert_scatter/bessel_zeros.py
  src/siegert_scatter/cli.py
  src/siegert_scatter/cross_section.py
  src/siegert_scatter/median_filter.py
  src/siegert_scatter/polynomials.py
  src/siegert_scatter/quadrature.py
  src/siegert_scatter/tise.py
  tests/conftest.py
  tests/test_calc_z_l.py
  tests/test_cross_section.py
  tests/test_jacobi.py
  tests/test_medfilt1.py
  tests/test_quadrature.py
  tests/test_tise.py
  uv.lock
Due: check-lock, ruff-check, ruff-format, typecheck

added isort enforcement to ruff lint
  pyproject.toml
Due: check-lock

Enabled recalculation of bessel zeros as an additional script
  pyproject.toml
  scripts/generate_bessel_zeros.py
  src/matlab/theta_l_z.nb
  tests/test_calc_z_l.py
  uv.lock
Due: check-lock, ruff-check, ruff-format, typecheck

got rid of handrolled median filter and gauss-jacobi quadrature
  src/siegert_scatter/__init__.py
  src/siegert_scatter/cli.py
  src/siegert_scatter/median_filter.py
  src/siegert_scatter/quadrature.py
  tests/test_medfilt1.py
  tests/test_quadrature.py
Due: ruff-check, ruff-format, typecheck

ported adaptive grid logic from MATLAB code
  src/siegert_scatter/cross_section.py
  tests/test_cross_section.py
Due: ruff-check, ruff-format, typecheck

dynamically build the k-vec grid based on local spacing
  scripts/generate_bessel_zeros.py
  src/siegert_scatter/cross_section.py
  tests/test_cross_section.py
Due: ruff-check, ruff-format, typecheck

refactor: replace dtau parameter with dGamma in cross section APIs
  src/siegert_scatter/__init__.py
  src/siegert_scatter/cli.py
  src/siegert_scatter/cross_section.py
  src/siegert_scatter/perturbation.py
  src/siegert_scatter/tise.py
  src/siegert_scatter/units.py
  tests/test_cross_section.py
Due: ruff-check, ruff-format, typecheck

changes for publishing
  .github/workflows/publish.yml
  .zenodo.json
  CITATION.cff
  README.md
  pyproject.toml
Due: check-lock

removed original MATLAB code, left in GH history for reference
  src/matlab/SPS_script.m
  src/matlab/SPS_test_quick.m
  src/matlab/SPS_test_suite.m
  src/matlab/TISE_by_SPS.m
  src/matlab/calc_cross_section_by_SPS.m
  src/matlab/calc_cross_section_by_SPS_with_total_AM.m
  src/matlab/calc_z_l.m
  src/matlab/get_gaussian_quadrature.m
  src/matlab/j_polynomial.m
  src/matlab/medfilt1.m
  src/matlab/test_reference_output.txt
  src/matlab/theta_l_z.nb
Due: none

moved to msgspec parsing of input
  pyproject.toml
  scripts/KHe-example/README.md
  scripts/KHe-example/electron-structure-outputs.json
  scripts/KHe-example/run_everything.py
  scripts/KHe-example/schema.py
  uv.lock
Due: check-lock, ruff-check, ruff-format, typecheck

made example calculation parallel
  scripts/KHe-example/run_everything.py
  src/siegert_scatter/cross_section.py
  tests/test_cross_section.py
Due: ruff-check, ruff-format, typecheck

reworked script for decay times and arxiv results
  scripts/KHe-example/README.md
  scripts/KHe-example/run_everything.py
  src/siegert_scatter/__init__.py
  src/siegert_scatter/cross_section.py
  src/siegert_scatter/units.py
Due: ruff-check, ruff-format, typecheck

added verbose output as input param
  scripts/KHe-example/run_everything.py
  src/siegert_scatter/cross_section.py
Due: ruff-check, ruff-format, typecheck
